@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color:dodgerblue">M Three </h1>

<ul>
    <li>@Html.ActionLink("M3 action link-Html helper","M3","AR")</li>
    <li>
        <a asp-action="ReturnSpecifiedView" asp-controller="AR">
            M Three
        </a>
    </li>
    <li>
        <a asp-action="ControllerPassDataToView" asp-controller="AR">
            controller pass data to view
        </a>
    </li>
</ul>